
<div class="container mt-4">
    <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Search for products..." />
    <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
  </div>
<div class="container mt-4">
    <h3>Popular Items</h3>
    <div class="row">
      <div class="col-md-3" *ngFor="let product of filteredProducts(products)">
        <div class="card mt-2">
          <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
          <!-- <span class="view-icon">
            <i class="fa-regular fa-eye"></i>
          </span> -->
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p>₹{{ product.price }}</p>
            <button class="btn addToCart m-2" (click)="addToCart(product)">Add to Cart</button>
            <button class="btn addToCart" (click)="viewProductDetails(product)">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    <h3>Special Offers</h3>
    <div class="row">
      <div class="col-md-3" *ngFor="let product of filteredProducts(specialProducts)">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p>₹{{ product.price }}</p>
            <button class="btn addToCart m-2" (click)="addToCart(product)">Add to Cart</button>
            <button class="btn addToCart" (click)="viewProductDetails(product)">View Details</button>          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    <h3>New Arrival Items</h3>
    <div class="row">
      <div class="col-md-3" *ngFor="let product of filteredProducts(newArrivalProducts)">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p>₹{{ product.price }}</p>
            <button class="btn addToCart m-2" (click)="addToCart(product)">Add to Cart</button>
            <button class="btn addToCart" (click)="viewProductDetails(product)">View Details</button>          </div>
        </div>
      </div>
    </div>
  </div>
  